In [1]:
import pandas as pd
from random import randint

In [2]:
from generate_dataset import generate_data
df = generate_data(dataset_size=100000)

In [3]:
df.tail()

,book_id,author_id,book_genre,reader_id,num_pages,book_rating,unlisher_id,publisher_year,book_price,text_lang
99995,1951,355,9,26006,100,8,49,2013,162,4
99996,2720,409,3,4604,93,6,36,2008,189,5
99997,441,447,4,28843,90,5,19,2009,155,7
99998,2610,185,6,15477,93,4,23,2017,72,7
99999,1920,329,4,11991,88,10,19,2002,83,6